# VARIABLES AND DATA TYPES

## VARIABLES

In [1]:
x = 5

In [2]:
x

5

In [3]:
y = 8

In [4]:
print(y)

8

In [5]:
x, y = (1, 2)

In [6]:
x

1

In [7]:
y

2

## NUMBERS AND BOOLEAN VALUES IN PYTHON

In [8]:
x1 = 5

In [9]:
type(x1)

int

In [10]:
type(-6)

int

In [11]:
x2 = 4.75

In [12]:
type(x2)

float

In [13]:
int(x2)

4

In [14]:
float(5)

5.0

In [15]:
x3 = True

In [16]:
type(x3)

bool

## PYTHON STRINGS

In [17]:
'Harry'

'Harry'

In [18]:
"Harry"

'Harry'

In [19]:
x4 = 'Harry'

In [20]:
x4

'Harry'

In [22]:
y = 10
print(str(y) + " Dollars")

10 Dollars

In [23]:
"I'm fine"

"I'm fine"

In [24]:
'I\'m fine'

"I'm fine"

In [25]:
'Press "Enter"'

'Press "Enter"'

In [26]:
'Red' 'car'

'Redcar'

In [27]:
'Red ' 'car'

'Red car'

In [28]:
'Red ' + 'car'

'Red car'

In [29]:
print('Red ' + 'car')

Red car

In [30]:
print('Red', 'car')

Red car

In [31]:
print(3, 5)

3 5

In [32]:
3, 5, 6.9, 7.0, 'car'

(3, 5, 6.9, 7.0, 'car')

# BASIC PYTHON SYNTAX

## USING ARITHMETIC OPERATORS IN PYTHON

In [33]:
1 + 2

3

In [34]:
3 - 5

-2

In [35]:
15 / 3

5.0

In [36]:
16 / 3

5.333333333333333

In [37]:
float(16) / 3

5.333333333333333

In [38]:
16 % 3

1

In [39]:
5 * 3

15

In [40]:
x = 5 * 3

In [41]:
x

15

In [42]:
5 ** 3

125

## THE DOUBLE EQUALITY SIGN

In [43]:
y = 5 ** 3

In [44]:
y

125

In [45]:
y == 125

True

In [46]:
y == 126

False

## HOW TO REASSIGN VALUES

In [47]:
z = 1
z

1

In [48]:
z = 3
z

3

In [49]:
z + 5

8

In [50]:
z = 7
z

7

## ADD COMMENTS

In [52]:
# This is just a comment and not code!
print(7, 2)

7 2

In [53]:
# Comment 1
# Comment 2
print(300)

300

## UNDERSTANDING LINE CONTINUATION

In [54]:
2.0 * 1.5 + \
    5

8.0

## INDEXING ELEMENTS

In [55]:
"Friday"[3]

'd'

In [56]:
'Friday'[4]

'a'

## STRUCTURING WITH INDENTATION

In [57]:
def five(x):
    x = 5
    return x

In [58]:
print(five(3))

5

# OTHER PYTHON OPERATORS

## COMPARISON OPERATORS

In [59]:
10 == (20 / 2)

True

In [60]:
10 != 10

False

In [61]:
10 != 15

True

In [62]:
100 > 50

True

In [63]:
100 < 50

False

In [64]:
15 >= (10 + 10)

False

In [65]:
15 <= (10 + 5)

True

## LOGICAL AND IDENTITY OPERATORS

In [66]:
True and True

True

In [67]:
True and False

False

In [68]:
False and False

False

In [69]:
False or False

False

In [70]:
True or True

True

In [71]:
True or False

True

In [72]:
False or True

True

In [73]:
not True

False

In [74]:
not False

True

In [75]:
(3 > 5) and (10 <= 20)

False

In [76]:
True and not True

False

In [77]:
False or not True and True

False

In [78]:
True and not True or True

True

In [79]:
5 is 6

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\DOANTR~1\AppData\Local\Temp/ipykernel_8196/2929037671.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 6

False

In [80]:
5 == 6

False

In [81]:
5 is not 6

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\DOANTR~1\AppData\Local\Temp/ipykernel_8196/2227521640.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  5 is not 6

True

In [82]:
5 != 6

True

# CONDITIONAL STATEMENTS

## THE IF STATEMENT

In [83]:
if (5 == (15 / 3)):
    print('Hooray!')

Hooray!

In [84]:
if (5 == (18 / 3)):
    print('Hooray!')

In [85]:
if (5 != (3 * 6)):
    print('Hooray!')

Hooray!

## THE ELSE STATEMENT

In [86]:
x = 1

if (x > 3):
    print('Case 1')
if (x <= 3):
    print('Case 2')

Case 2

In [88]:
x = 1

if (x > 3):
    print('Case 1')
else:
    print('Case 2')

Case 2

## THE ELIF STATEMENT

In [89]:
def compare_to_five(y):
    if (y > 5):
        return "Greater"
    elif (y < 5):
        return "Less"
    else:
        return "Equal"

In [90]:
print(compare_to_five(10))

Greater

In [91]:
print(compare_to_five(2))

Less

In [92]:
print(compare_to_five(5))

Equal

In [95]:
def compare_to_five(y):
    if (y > 5):
        return "Greater"
    elif (y < 0):
        return "Negative"
    elif (y < 5):
        return "Less"
    else:
        return "Equal"

In [96]:
print(compare_to_five(-5))

Negative

In [97]:
print(compare_to_five(3))

Less

In [98]:
def compare_to_five(y):
    if (y > 5):
        return "Greater"
    elif (y < 5):
        return "Less"
    elif (y < 0):
        return "Negative"
    else:
        return "Equal"

In [99]:
compare_to_five(-3)

'Less'

## A NOTE ON BOOLEAN VALUES

In [100]:
x = 2

if (x > 4):
    print('Correct')
else:
    print('Incorrect')

Incorrect

# PYTHON FUNCTIONS

## DEFINING A FUNCTION IN PYTHON

In [101]:
def simple():
    print('My first function')

In [102]:
simple()

My first function

In [103]:
def plus_ten(a):
    return  (a + 10)

In [104]:
plus_ten(2)

12

In [105]:
plus_ten(5)

15

## HOW TO CREATE A FUNCTION WITH A PARAMETER

## DEFINING A FUNCTION IN PYTHON - PART II

In [106]:
def plus_ten(a):
    result = a + 10

In [107]:
plus_ten(2)

In [108]:
def plus_ten(a):
    result = a + 10
    return result

In [109]:
plus_ten(2)

12

In [110]:
def plus_ten(a):
    result = a + 10
    return "Outcome"
    return result

In [111]:
plus_ten(2)

'Outcome'

In [113]:
def plus_ten(a):
    result = a + 10
    print("Outcome")
    return result

In [114]:
plus_ten(2)

Outcome

12

## HOW TO USE A FUNCTION WITHIN A FUNCTION

In [115]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [116]:
wage(8), with_bonus(8)

(200, 250)

## CONDITIONAL STATEMENTS AND FUNCTIONS

In [117]:
def add_10(m):
    if (m >= 100):
        m += 10
        return m
    else:
        return 'Save more!'

In [118]:
add_10(110)

120

In [119]:
add_10(50)

'Save more!'

## FUNCTIONS CONTAINING A FEW ARGUMENTS

In [120]:
def subtract_bc(a, b, c):
    result = a - b * c
    print(f'Parameter a equals: {a}')
    print(f'Parameter b equals: {b}')
    print(f'Parameter c equals: {c}')
    
    return result

In [121]:
subtract_bc(10, 3, 2)

Parameter a equals: 10
Parameter b equals: 3
Parameter c equals: 2

4

In [122]:
subtract_bc(b=3, a=10, c=2)

Parameter a equals: 10
Parameter b equals: 3
Parameter c equals: 2

4

## BUILT-IN FUNCTIONS IN PYTHON

In [123]:
type(10)

int

In [124]:
int(5.0)

5

In [125]:
float(3)

3.0

In [126]:
str(500)

'500'

In [127]:
max(10, 20, 30)

30

In [128]:
min(10, 20, 30)

10

In [129]:
z = -20
abs(z)

20

In [130]:
list_1 = [1, 2, 3, 4]
sum(list_1)

10

In [131]:
round(3.555, 2)

3.56

In [132]:
round(3.2)

3

In [133]:
2 ** 10

1024

In [134]:
pow(2, 10)

1024

In [135]:
len('Mathematics')

11

# SEQUENCES

## LISTS

In [136]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [137]:
print(Participants[1])

Leila

In [138]:
Participants[-1]

'Cate'

In [139]:
Participants[-2]

'Gregory'

In [140]:
Participants[3] = 'Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

## USING METHODS

In [ ]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [ ]:
Participants[2]

'Maria'

In [ ]:
Participants.append('Dwayne')
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [ ]:
Participants.extend(['George', 'Catherine'])
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [ ]:
print(f'The first participant is: {Participants[0]}.')

The first participant is: John.

In [ ]:
len('Dolphim')

7

In [ ]:
len(Participants)

6

## LIST SLICING

In [149]:
Participants = ['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [150]:
Participants[1:3]

['Leila', 'Maria']

In [151]:
Participants[:2]

['John', 'Leila']

In [152]:
Participants[4:]

['George', 'Catherine']

In [153]:
Participants[-2:]

['George', 'Catherine']

In [154]:
Participants.index('Maria')

2

In [156]:
New_comers = ['Joshua', 'Brittany']
New_comers

['Joshua', 'Brittany']

In [157]:
Bigger_List = [Participants, New_comers]
Bigger_List

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

In [159]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [160]:
Participants.sort(reverse=True)
Participants

['Maria', 'Leila', 'John', 'George', 'Dwayne', 'Catherine']

In [161]:
Numbers = [1, 2, 3, 4, 5]
Numbers.sort()
Numbers

[1, 2, 3, 4, 5]

In [162]:
Numbers.sort(reverse=True)
Numbers

[5, 4, 3, 2, 1]

## TUPLES

In [163]:
x = (40, 41, 42)
x

(40, 41, 42)

In [164]:
y = 50, 51, 52
y

(50, 51, 52)

In [165]:
a, b, c = 1, 4, 6
c

6

In [166]:
x[0]

40

In [167]:
List_1 = [x, y]
List_1

[(40, 41, 42), (50, 51, 52)]

In [168]:
(age, years_of_school) = '30,17'.split(',')
print(age)
print(years_of_school)

30
17

In [169]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print(f'Area and Perimeter:')
    return (A, P)

In [170]:
square_info(3)

Area and Perimeter:

(9, 12)

## DICTIONARIES

In [171]:
dict = {'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [172]:
dict['k1']

'cat'

In [173]:
dict['k3']

'mouse'

In [174]:
dict['k5'] = 'parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [175]:
dict['k2'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [176]:
dep_workers = {'dep_1': 'Peter', 'dep_2': ['Jennifer', 'Michael', 'Tommy']}
dep_workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

# ITERATIONS

## FOR LOOPS

In [178]:
even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

for n in even:
    print(n, end=' ')

0 2 4 6 8 10 12 14 16 18 20

## WHILE LOOPS AND INCREMENTING

In [179]:
x = 0

while (x <= 20):
    print(x, end=' ')
    x += 2

0 2 4 6 8 10 12 14 16 18 20

## LISTS WITH THE RANGE() FUNCTION

In [180]:
range(10)

range(0, 10)

In [181]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [182]:
range(3, 7)

range(3, 7)

In [183]:
list(range(3, 7))

[3, 4, 5, 6]

In [184]:
range(1, 20, 2)

range(1, 20, 2)

In [185]:
list(range(1, 20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## CONDITIONAL STATEMENTS AND LOOPS

In [187]:
for n in range(10):
    print(2 ** n, end=' ')

1 2 4 8 16 32 64 128 256 512

In [188]:
for x in range(20):
    if (x % 2 == 0):
        print(x, end=' ')
    else:
        print('Odd', end=' ')

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [189]:
x = [0, 1, 2]

for item in x:
    print(item, end=' ')

0 1 2

In [191]:
for item in range(len(x)):
    print(x[item], end=' ')

0 1 2

## CONDITIONAL STATEMENTS, FUNCTIONS, AND LOOPS

In [192]:
def count(numbers):
    total = 0
    
    for x in numbers:
        if (x < 20):
            total += 1
    
    return total

In [194]:
list_1 = [1, 2, 7, 15, 23, 43, 56, 98, 17]

count(list_1)

5

## HOW TO ITERATE OVER DICTIONARIES

In [195]:
prices = {
    'box_of_spaghetti': 4,
    'lasagna':          5,
    'hamburger':        2
}
quantity = {
    'box_of_spaghetti': 6,
    'lasagna':          10,
    'hamburger':        0
}

In [198]:
money_spent = 0
for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])

print(money_spent)

74

# ADVANCED PYTHON TOOLS

## IMPORTING MODULES IN PYTHON

In [199]:
import math

In [200]:
math.sqrt(16)

4.0

In [201]:
from math import sqrt
sqrt(25)

5.0

In [202]:
from math import sqrt as s
s(36)

6.0

In [203]:
import math as m
m.sqrt(49)

7.0

In [204]:
from math import *
sqrt(64)

8.0

##

##